<div class="page-header">
  <h1>APTrust Contributing Institutions</h1>
</div>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= institution.name %></td>
        <td><%= link_to 'Show', institution_path(institution), class: 'btn btn-primary' %> | <%= link_to 'Edit', edit_institution_path(institution), class: 'btn btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Institution', new_institution_path, class: 'btn btn-primary' %>
